
/******************************
 * Permission Lists
 ******************************/

.field-wrapper.permissions .field .group {
    margin-bottom: 10px;
}

.field-wrapper.permissions .field .group p {
    font-weight: bold;
}

.field-wrapper.permissions .field label {
    display: inline;
    font-weight: normal;
}

.field-wrapper.permissions .field label input {
    margin-left: 15px;
    margin-right: 10px;
}

.field-wrapper.permissions .field .group p.perm {
    font-weight: normal;
    margin-left: 15px;
}

.field-wrapper.permissions .field .group p.perm span {
    font-family: monospace;
    margin-right: 10px;
}
