body {
	font-family: Arial;
	}
a, a.hover {
	text-decoration: none;
}

div.header p {
	margin: 2px;
	padding: 2px;
}

img.icon{
	padding: 3px 0 0 3px;
	max-height: 18px;
	max-width: 18px;
}

table.fc-stats, table.lanes-stats {
	border-collapse:collapse;
	text-align: left;
}
	
table.fc-stats, table.fc-stats td, table.fc-stats th, table.lanes-stats, table.lanes-stats td, table.lanes-stats th { 
	border:1px solid black; 
	padding: 2px 5px;
}
	
td.failed {	color: red; }
ul { margin-top: 10px; }
li { list-style-type: circle; }
h4 { margin-bottom: 0; }

div.sidebar {
	width: 18em;
    position:fixed;
    top: 3em;
    margin:1em 0 0 1em;
}
  
div.main {
    display:block;
    position:absolute;
    overflow:auto;
    height:auto;
    width:auto;
    top:4.5em;
    bottom:2.3em;
    left:18em;
    right:0;
    border-left: 1px solid #CCC;
    padding:0 0 0 1em;
    background-color: white;
    z-index:1;
  }
  
div.header {	
    border:0;
    margin:0;
    padding: 0.5em;
    width:100%;
    top:0;
    left:0;
    z-index:2;
}

div.header p.sep {
	background-color: #C0E6FF;
}

div.sidebar li {
	list-style-type: none;
}
div.pf-reads {
	float:left; 
	padding-right: 100px;
}