body{
    background: #dcdcdc;
    /*filter: blur(20px);*/
}

svg{
	background: rgba(0,0,0,0.1);
	position: absolute;
    left: 30%;
    border-radius: 20px;
    fill: none;

}

.modal-content{
	position: absolute;
	top:550px;
	padding: 20px;
}

button {
	margin-left:20px; 
}

input{
	margin-top: 10px;
	margin-right: 100px;
}