ul.sao-list {
	margin: 10px;
	min-width: 130px;
	border-left: solid 2px #f1f1f1 ;
	list-style:none;
	padding-left: 1px;
	max-width: 270px;
	
}



ul.sao-list>li {
	background: #f1f1f1;
    opacity: 0.8;
    color: black;
    padding: 12px;
    margin: 2px;
    border-left: solid 1px #f1f1f1 ;
    transition: background-color 0.3s;
}

/*ul.sao-list>li:nth-child(1n + 2) {*/
	/*background-color: #f1f1f1;*/

/*}*/


ul.sao-list>li:nth-child(1){
	background: -webkit-linear-gradient(
		top,
		rgba(244,244,244,0) 0%,
		rgba(244,244,244,0.5) 30%,
		rgba(244,244,244,1) 100%);
	background: -moz-linear-gradient(
		top,
		rgba(244,244,244,0) 0%,
		rgba(244,244,244,0.5) 30%,
		rgba(244,244,244,1) 100%);
	background: -o-linear-gradient(
		top,
		rgba(244,244,244,0) 0%,
		rgba(244,244,244,0.5) 30%,
		rgba(244,244,244,1) 100%);
	background: linear-gradient(
		top,
		rgba(244,244,244,0) 0%,
		rgba(244,244,244,0.5) 30%,
		rgba(244,244,244,1) 100%);
}


ul.sao-list>li:nth-last-child(1){
	background: -webkit-linear-gradient(
		bottom,
		rgba(244,244,244,0) 0%,
		rgba(244,244,244,0.5) 30%,
		rgba(244,244,244,1) 100%);
	background: -moz-linear-gradient(
		bottom,
		rgba(244,244,244,0) 0%,
		rgba(244,244,244,0.5) 30%,
		rgba(244,244,244,1) 100%);
	background: -o-linear-gradient(
		bottom,
		rgba(244,244,244,0) 0%,
		rgba(244,244,244,0.5) 30%,
		rgba(244,244,244,1) 100%);
	background: linear-gradient(
		bottom,
		rgba(244,244,244,0) 0%,
		rgba(244,244,244,0.5) 30%,
		rgba(244,244,244,1) 100%);
}



ul.sao-list>li:hover {
	background-color:#e8af31;
	background-image: none;
	border-left: solid 1px #f1f1f1 ;
}

ul.sao-list>li:hover a {
	color:white;
	margin-left: 5px;
}

ul.sao-list>li:hover span {
	background-color: #f1f1f1;
	color:#000000bd;
}

ul.sao-list>li>a {
	color:black;
	text-decoration: none;
	font-weight: 100;
	transition: margin-left 0.7s ease;
}

span.glyphicon {
	margin-right: 4px;
    padding: 8px;
    border-radius: 15px;
    color:#f1f1f1;
    background-color: #000000bd;
    height: 30px;
    width: 30px;
}


/*
	button gourps 
*/

.sao-btn {
	display: block;
    background: none;
    border: none;
    border: solid 1px white;
    border-radius: 19px;
    height: 38px;
    width: 38px;
}

.sao-btn>span {
	margin: 1px;
    left: -4.5px;
    top: 0.6px;
}

.sao-btn span {
	background-color: #f1f1f1;
	color:#000000bd;
}

.sao-btn:hover span{
	color:#f1f1f1;
    background-color: #000000bd;
}
.sao-btn:focus {
	outline: none;
}
.sao-btn:hover {
	border: none;
	outline: none;
}

/*
    sao popover menue
*/

.popover {
    left: 105%;
    border-radius: 0px;
    border: none;
    min-width: 180px;
    max-width: 700px;
    opacity: 0.9;
    padding-left: 10px;
    padding-right: 10px;
}

div.popover {
    left: 105%;
}

.popover-title {
    background-color: #ffffff;
}

.popover-content {
    font-weight: 100;
}


/*
 arrow
*/

.sao-arrow {
	position: absolute;
	z-index: 2000;
	top: 65%;
	right: -20px;
	border-width: 10px;
	background-color: rgba(255, 255, 255, 0);
	border-color: transparent transparent transparent #fff;
	border-style: dashed dashed dashed solid;
}