@font-face{
    font-family:AUPassataBold;
    src:url("aupassata_bold-webfont.woff2") format("woff2");
    font-weight:400;
    font-style:normal;
 }
 @font-face{
    font-family:AUPassataRegular;
    src:url("aupassata_rg-webfont.woff2") format("woff2");
    font-weight:400;
    font-style:normal;
 }
 @font-face{
    font-family:au_icons;
    src:url("au_icons.woff") format("woff");
    font-weight:400;
    font-style:normal;
 }

 @media all{
    html{
       font-family:sans-serif;
       line-height:1.15;
       -ms-text-size-adjust:100%;
       -webkit-text-size-adjust:100%;
   }
    footer,header,nav{
       display:block;
   }
    h1{
       font-size:2em;
       margin:.67em 0;
   }
    pre{
       font-family:monospace,monospace;
       font-size:1em;
   }
    a{
       background-color:transparent;
       -webkit-text-decoration-skip:objects;
   }
    a:active,a:hover{
       outline-width:0;
   }
    strong{
       font-weight:inherit;
       font-weight:bolder;
   }
    code,kbd{
       font-family:monospace,monospace;
       font-size:1em;
   }
    img{
       border-style:none;
   }
    button{
       font-family:sans-serif;
       font-size:100%;
       line-height:1.15;
       margin:0;
   }
    button{
       overflow:visible;
   }
    button{
       text-transform:none;
   }
    button{
       -webkit-appearance:button;
   }
    button::-moz-focus-inner{
       border-style:none;
       padding:0;
   }
    button:-moz-focusring{
       outline:1px dotted ButtonText;
   }
    html{
       box-sizing:border-box;
       font-size:11px;
   }
    *,:after,:before{
       box-sizing:inherit;
   }
    body{
       margin:0;
       padding:0;
       background:#fefefe;
       font-family:Georgia;
       font-weight:400;
       line-height:1.5;
       color:#0a0a0a;
       -webkit-font-smoothing:antialiased;
       -moz-osx-font-smoothing:grayscale;
   }
    img{
       display:inline-block;
       vertical-align:middle;
       max-width:100%;
       height:auto;
       -ms-interpolation-mode:bicubic;
   }
    button{
       padding:0;
       -webkit-appearance:none;
       -moz-appearance:none;
       appearance:none;
       border:0;
       border-radius:0;
       background:transparent;
       line-height:1;
   }
    .row{
       max-width:127.27273rem;
       margin-right:auto;
       margin-left:auto;
       display:-ms-flexbox;
       display:flex;
       -ms-flex-flow:row wrap;
       flex-flow:row wrap;
   }
    .row .row{
       margin-right:-.90909rem;
       margin-left:-.90909rem;
   }
    @media print,screen and (min-width:40em){
        .row .row{
           margin-right:-1.36364rem;
           margin-left:-1.36364rem;
       }
   }
    @media print,screen and (min-width:64em){
        .row .row{
           margin-right:-1.36364rem;
           margin-left:-1.36364rem;
       }
   }
    @media screen and (min-width:75em){
        .row .row{
           margin-right:-1.36364rem;
           margin-left:-1.36364rem;
       }
   }
    @media screen and (min-width:90em){
        .row .row{
           margin-right:-1.36364rem;
           margin-left:-1.36364rem;
       }
   }
    .column,.columns{
       -ms-flex:1 1 0px;
       flex:1 1 0px;
       padding-right:.90909rem;
       padding-left:.90909rem;
       min-width:0;
   }
    @media print,screen and (min-width:40em){
        .column,.columns{
           padding-right:1.36364rem;
           padding-left:1.36364rem;
       }
   }
    .small-2{
       -ms-flex:0 0 16.66667%;
       flex:0 0 16.66667%;
       max-width:16.66667%;
   }
    .small-6{
       -ms-flex:0 0 50%;
       flex:0 0 50%;
       max-width:50%;
   }
    .small-12{
       -ms-flex:0 0 100%;
       flex:0 0 100%;
       max-width:100%;
   }
    @media print,screen and (min-width:40em){
        .medium-2{
           -ms-flex:0 0 16.66667%;
           flex:0 0 16.66667%;
           max-width:16.66667%;
       }
        .medium-4{
           -ms-flex:0 0 33.33333%;
           flex:0 0 33.33333%;
           max-width:33.33333%;
       }
        .medium-6{
           -ms-flex:0 0 50%;
           flex:0 0 50%;
           max-width:50%;
       }
        .medium-8{
           -ms-flex:0 0 66.66667%;
           flex:0 0 66.66667%;
           max-width:66.66667%;
       }
        .medium-10{
           -ms-flex:0 0 83.33333%;
           flex:0 0 83.33333%;
           max-width:83.33333%;
       }
        .medium-12{
           -ms-flex:0 0 100%;
           flex:0 0 100%;
           max-width:100%;
       }
        .medium-order-1{
           -ms-flex-order:1;
           order:1;
       }
   }
    @media print,screen and (min-width:64em){
        .large-2{
           -ms-flex:0 0 16.66667%;
           flex:0 0 16.66667%;
           max-width:16.66667%;
       }
        .large-3{
           -ms-flex:0 0 25%;
           flex:0 0 25%;
           max-width:25%;
       }
        .large-6{
           -ms-flex:0 0 50%;
           flex:0 0 50%;
           max-width:50%;
       }
        .large-9{
           -ms-flex:0 0 75%;
           flex:0 0 75%;
           max-width:75%;
       }
        .large-10{
           -ms-flex:0 0 83.33333%;
           flex:0 0 83.33333%;
           max-width:83.33333%;
       }
        .large-12{
           -ms-flex:0 0 100%;
           flex:0 0 100%;
           max-width:100%;
       }
   }
    div,h1,h2,h3,h4,li,p,pre,td,th,ul{
       margin:0;
       padding:0;
   }
    p{
       margin-bottom:1rem;
       font-size:inherit;
       line-height:1.6;
       text-rendering:optimizeLegibility;
   }
    em{
       font-style:italic;
   }
    em,strong{
       line-height:inherit;
   }
    strong{
       font-weight:700;
   }
    h1,h2,h3,h4{
       font-family:AUPassataBold;
       font-style:normal;
       font-weight:400;
       color:inherit;
       text-rendering:optimizeLegibility;
   }
    h1{
       font-size:2.18182rem;
   }
    h1,h2{
       line-height:1.4;
       margin-top:0;
       margin-bottom:1rem;
   }
    h2{
       font-size:1.81818rem;
   }
    h3{
       font-size:1.72727rem;
   }
    h3,h4{
       line-height:1.4;
       margin-top:0;
       margin-bottom:1rem;
   }
    h4{
       font-size:1.63636rem;
   }
    @media print,screen and (min-width:40em){
        h1{
           font-size:2rem;
       }
        h2{
           font-size:1.81818rem;
       }
        h3{
           font-size:1.63636rem;
       }
        h4{
           font-size:1.27273rem;
       }
   }
    a{
       line-height:inherit;
       color:#002546;
       text-decoration:none;
       cursor:pointer;
   }
    a:focus,a:hover{
       color:#00203c;
   }
    ul{
       margin-bottom:1rem;
       list-style-position:outside;
       line-height:1.6;
   }
    li{
       font-size:inherit;
   }
    ul{
       list-style-type:disc;
   }
    ul{
       margin-left:1.25rem;
   }
    ul ul{
       margin-left:1.25rem;
       margin-bottom:0;
   }
    cite{
       display:block;
       font-size:1.18182rem;
       color:#8a8a8a;
   }
    cite:before{
       content:"— ";
   }
    code{
       padding:.18182rem .45455rem .09091rem;
       border:1px solid #cacaca;
       font-weight:400;
   }
    code,kbd{
       background-color:#e6e6e6;
       font-family:Consolas,Liberation Mono,Courier,monospace;
       color:#0a0a0a;
   }
    kbd{
       margin:0;
       padding:.18182rem .36364rem 0;
   }
    .text-right{
       text-align:right;
   }
    @media print{
        *{
           box-shadow:none!important;
           color:#000!important;
           text-shadow:none!important;
       }
        a,a:visited{
           text-decoration:underline;
       }
        a[href]:after{
           content:" (" attr(href) ")";
       }
        a[href^="#"]:after{
           content:"";
       }
        pre{
           border:1px solid #8a8a8a;
           page-break-inside:avoid;
       }
        thead{
           display:table-header-group;
       }
        img,tr{
           page-break-inside:avoid;
       }
        img{
           max-width:100%!important;
       }
        h2,h3,p{
           orphans:3;
           widows:3;
       }
        h2,h3{
           page-break-after:avoid;
       }
   }
    .menu-icon{
       position:relative;
       display:inline-block;
       vertical-align:middle;
       width:20px;
       height:16px;
       cursor:pointer;
   }
    .menu-icon:after{
       position:absolute;
       top:0;
       left:0;
       display:block;
       width:100%;
       height:2px;
       background:#002546;
       box-shadow:0 7px 0 #002546,0 14px 0 #002546;
       content:"";
   }
    .menu-icon:hover:after{
       background:#cacaca;
       box-shadow:0 7px 0 #cacaca,0 14px 0 #cacaca;
   }
    table{
       width:100%;
       margin-bottom:1rem;
       border-radius:0;
   }
    table tbody,table thead{
       border:0;
       background-color:#fefefe;
   }
    table caption{
       padding:.72727rem .90909rem .90909rem;
       font-weight:700;
   }
    table thead{
       background:#f8f8f8;
       color:#0a0a0a;
   }
    table thead tr{
       background:transparent;
   }
    table thead th{
       padding:.72727rem .90909rem .90909rem;
       font-weight:700;
       text-align:left;
   }
    table tbody td{
       padding:.72727rem .90909rem .90909rem;
   }
    table tbody tr{
       border-bottom:0;
       background-color:#fefefe;
   }
    .title-bar{
       padding:.5rem;
       background:#fefefe;
       color:#002546;
       display:-ms-flexbox;
       display:flex;
       -ms-flex-pack:justify;
       justify-content:space-between;
       -ms-flex-align:center;
       align-items:center;
   }
    .title-bar .menu-icon{
       margin-left:.25rem;
       margin-right:.25rem;
   }
    @media screen and (max-width:39.9375em){
        .hide-for-small-only{
           display:none!important;
       }
   }
    .align-right{
       -ms-flex-pack:end;
       justify-content:flex-end;
   }
    .align-center{
       -ms-flex-pack:center;
       justify-content:center;
   }
    .align-top{
       -ms-flex-align:start;
       align-items:flex-start;
   }
    .small-order-1{
       -ms-flex-order:1;
       order:1;
   }
    .small-order-2{
       -ms-flex-order:2;
       order:2;
   }
    @media print,screen and (min-width:40em){
        .medium-order-1{
           -ms-flex-order:1;
           order:1;
       }
   }
    .align-right{
       text-align:right!important;
   }
    .align-center{
       text-align:center!important;
   }
    :focus{
       outline:none!important;
   }
    ul{
       margin-left:0;
   }
    ul ul{
       margin-top:.65rem;
   }
    ul li{
       list-style:none;
       padding-left:1.5rem;
       margin-bottom:.65rem;
   }
    .main ul li:before,.pagenav ul li:before,footer ul li:before{
       font-family:au_icons;
       content:"≥";
       font-size:.8rem;
       position:absolute;
       margin-left:-1.5rem;
       line-height:2.5em;
       font-weight:700;
   }
    .resetlist>li,.resetlist>li:before{
       margin:0;
       padding:0;
       background-image:none;
       content:"";
       list-style-type:none;
   }
    .main a{
       text-decoration:underline;
   }
   .main h1{
        margin-top:0em;
        margin-bottom:0;
    }
    .main h2,.main h3,.main h4{
       margin-top:1em;
       margin-bottom:0;
   }
    @media screen and (min-width:40em) and (max-width:63.9375em){
        .left-menu{
           padding:2rem 1rem!important;
       }
   }
    header{
       font-family:AUPassataRegular;
       z-index:2;
   }
    .department header{
       height:150px;
   }
    header .section-header.row{
       height:96px;
       position:relative;
   }
    header .section-header.row .columns{
       background-color:#002546;
       color:#fff;
   }
    @media screen and (min-width:40em){
        .department header .section-header.row{
           height:50px;
       }
   }
    .department header{
       height:auto;
   }
    .department header .header-menu .columns{
       background-color:#fff;
   }
    @media screen and (min-width:40em){
        .department header .header-menu .columns{
           border-bottom:1px solid #e4e4e4;
       }
   }
    header .header-menu .columns{
       background-color:#f2f2f2;
       padding:0;
       height:auto;
       z-index:1;
   }
    .logo{
       position:relative;
   }
    .logo>a{
       color:#fff;
   }
    .logo>a:hover{
       text-decoration:none;
   }
    .department .logo{
       font-size:.75em;
   }
    footer.global{
       margin-top:3em;
   }
    footer.global .columns{
       background-color:#002546;
       color:#fff;
       padding-top:2em;
       padding-bottom:2em;
   }
    footer.global .columns h3{
       font-size:110%;
       font-family:AUPassataBold;
       margin-bottom:2rem;
       text-transform:uppercase;
   }
    footer.global .columns .seal{
       width:33%;
       margin-left:2em;
   }
    @media screen and (max-width:39.9375em){
        footer.global .columns .seal{
           width:75%;
           margin-left:1em;
       }
   }
    footer.global .columns a{
       color:#fff;
   }
    footer.global .columns a:hover{
       text-decoration:underline;
   }
    footer.global .columns li{
       margin-left:0;
       list-style:none;
   }
    footer.global .columns li:before{
       color:#fff;
   }
    footer.global .columns ul{
       margin-left:0;
   }
    .section-title h1{
       font-family:AUPassataRegular;
       font-size:3.6rem;
       padding:.5em 0;
   }
    .section-title h1 a{
       color:#002546;
   }
    .section-title h1 a:hover{
       text-decoration:none;
   }
    @media screen and (max-width:39.9375em){
        .section-title h1{
           font-size:2rem;
       }
   }
    .section-title .columns{
       border-bottom:3px solid #002546;
   }
    @media screen and (min-width:90em){
        .section-title .columns{
           padding:.5em 0;
       }
   }
    .section-title a{
       color:#fff;
   }
    .breadcrumb{
       text-align:right;
       color:#7b7b7b;
       font-family:AUPassataRegular;
       font-size:90%;
   }
    .breadcrumb .columns{
       padding-top:1rem;
       padding-bottom:1rem;
   }
    .breadcrumb a{
       color:#7b7b7b;
       text-decoration:underline;
   }
    .breadcrumb .breadcrumb-prefix{
       display:none;
   }
    .left-menu{
       background:#f2f2f2;
       padding:2rem;
       font-family:AUPassataRegular;
       font-size:1.5rem;
       margin-bottom:2rem;
   }
    .left-menu ul{
       margin:0;
       margin-left:1rem;
   }
    .left-menu ul ul{
       margin-bottom:1.6rem;
       margin-left:0;
   }
    .left-menu>ul>li:before{
       font-size:1rem;
       margin-left:-2rem;
   }
    .left-menu li{
       list-style:none;
       margin-bottom:1.4rem;
   }
    .left-menu li:before{
       font-size:.8rem;
   }
    .left-menu li li{
       font-size:1.3rem;
       margin-left:1rem;
       margin-bottom:0;
   }
    .left-menu li a{
       display:block;
   }
    .left-menu a:hover{
       color:#e2007a;
   }
    .department .left-menu a:hover{
       color:#2b80a4;
   }
    body{
       font-size:1.3rem;
   }
    li:before{
       color:#003d73;
   }
    a:hover{
       text-decoration:underline;
   }
    .title-bar{
       background:transparent;
   }
    @media screen and (max-width:39.9375em){
        .title-bar{
           padding-top:1em;
           padding-bottom:1em;
       }
        .content{
           padding-top:15px;
       }
        .left-menu h3{
           display:none;
       }
   }
    .header-menu{
       z-index:3;
   }
    #fade{
       position:fixed;
       top:0;
       left:0;
       width:100%;
       height:100%;
       background-color:#000;
       z-index:99;
       opacity:0;
       display:none;
   }
    @media screen and (max-width:39.9375em){
        .pagenav{
           padding-top:0;
       }
        .pagenav ul li{
           font-size:15px;
       }
        .pagenav ul li:before{
           margin-left:-25px;
       }
   }
    @media screen and (max-width:39.9375em){
        .mobile-nav{
           margin-right:1rem;
       }
        .left-menu{
           padding:0;
           border-bottom:1px solid #e6e6e6;
       }
        ::-webkit-input-placeholder{
           color:transparent!important;
       }
        :-moz-placeholder,::-moz-placeholder{
           color:transparent;
       }
        :-ms-input-placeholder{
           color:transparent;
       }
        header .section-header.row{
           height:58px;
       }
        header .section-header.row .main-logo object{
           height:49px;
           margin-left:4px;
       }
   }
    @media screen and (min-width:40em) and (max-width:63.9375em) and (orientation:portrait){
        .medium-only-portrait-4{
           -ms-flex:0 0 33.33333%;
           flex:0 0 33.33333%;
           padding-right:.90909rem;
           padding-left:.90909rem;
           max-width:33.33333%;
       }
   }
    @media screen and (min-width:40em) and (max-width:63.9375em) and (orientation:portrait) and (min-width:40em){
        .medium-only-portrait-4{
           padding-right:1.36364rem;
           padding-left:1.36364rem;
       }
   }
    @media screen and (min-width:40em) and (max-width:63.9375em) and (orientation:portrait){
        .medium-only-portrait-8{
           -ms-flex:0 0 66.66667%;
           flex:0 0 66.66667%;
           padding-right:.90909rem;
           padding-left:.90909rem;
           max-width:66.66667%;
       }
   }
    @media screen and (min-width:40em) and (max-width:63.9375em) and (orientation:portrait) and (min-width:40em){
        .medium-only-portrait-8{
           padding-right:1.36364rem;
           padding-left:1.36364rem;
       }
   }
    @media screen and (min-width:40em) and (max-width:63.9375em) and (orientation:portrait){
        .medium-only-portrait-12{
           -ms-flex:0 0 100%;
           flex:0 0 100%;
           padding-right:.90909rem;
           padding-left:.90909rem;
           max-width:100%;
       }
   }
    @media screen and (min-width:40em) and (max-width:63.9375em) and (orientation:portrait) and (min-width:40em){
        .medium-only-portrait-12{
           padding-right:1.36364rem;
           padding-left:1.36364rem;
       }
   }
    @media screen and (min-width:90em){
        .main{
           padding-right:0;
       }
   }
    .main-logo{
       display:block;
       width:252px;
       min-height:42px;
       z-index:1003;
       overflow:hidden;
       margin:4px 0 0 -10px;
   }
    .main-logo object{
       height:42px;
       pointer-events:none;
   }
    @media (max-width:320px){
        header .section-header.row .main-logo object{
           height:40px;
           margin-left:0;
           margin-top:5px;
       }
   }
    @media print,screen and (min-width:40em){
        .no-js .title-bar{
           display:none;
       }
   }
    @media print{
        .medium-2{
           -ms-flex:0 0 16.66667%;
           flex:0 0 16.66667%;
       }
        .medium-4{
           -ms-flex:0 0 33.33333%;
           flex:0 0 33.33333%;
       }
        .medium-6{
           -ms-flex:0 0 50%;
           flex:0 0 50%;
       }
        .medium-8{
           -ms-flex:0 0 66.66667%;
           flex:0 0 66.66667%;
       }
        .medium-10{
           -ms-flex:0 0 83.33333%;
           flex:0 0 83.33333%;
       }
        .medium-12{
           -ms-flex:0 0 100%;
           flex:0 0 100%;
       }
        a[href*="/"]:after,a[href*="/"]:visited:after,a[href]:after{
           content:normal;
       }
        a{
           text-decoration:none!important;
       }
        .header-menu,.left-menu,.section-header{
           display:none;
       }
        .main{
           -ms-flex:0 0 100%;
           flex:0 0 100%;
           max-width:100%;
       }
        footer{
           display:none;
       }
        footer.global .columns{
           background:transparent;
       }
   }
    button::-moz-focus-inner{
       padding:0;
       border:0;
   }
}
/*! CSS Used from: http://localhost:8000/gdk.css */
body{
   font-family:AUPassataRegular, verdana, sans-serif;
   font-size:12pt;
}
div.admonition{
    border:none;
    padding:1rem 1rem 1rem 2rem;
    margin-bottom:2rem;
    margin-top:2rem;
    font-family:inherit;
 }
 div.admonition a{
    color:inherit;
 }
.admonition p {
    margin-bottom: 0;
}
.admonition-title {
    font-weight: bold;
}
div.note{
    border-left: 4px solid rgba(55, 160, 203, 1) !important;
    background: rgba(55, 160, 203, 0.1);
}
div.warning{
    border-left: 4px solid rgba(238, 127, 0, 1) !important;
    background: rgba(238, 127, 0, 0.1);
}
div.seealso{
    border-left: 4px solid rgba(0, 171, 164, 1) !important;
    background: rgba(0, 171, 164, 0.1);
}
a.headerlink:link,a.headerlink:visited{
   color:#ccc!important;
   font-size:0.7em;
   vertical-align:super;
   text-decoration:none;
}
img{
   max-width:100%;
   max-height:20em;
   display:block;
   margin:0 auto;
}
code,pre{
   font-family:Inconsolata, consolas, monospace;
   font-size:0.9em;
}
pre{
   border:none;
   margin:15px 0;
   padding:15px;
   background-color:#eeeeee;
}
table{
   border:none;
   border-collapse:collapse;
}
caption{
   font-family:AUPassataRegular, sans-serif;
   background:#37a0cb;
   color:white;
   font-weight:bold;
   font-size:1em;
   padding:5px;
   border-bottom:2px solid #003e5c;
}
td,th{
   font-size:1em;
   border:none;
   padding:5px;
}
tr:last-child{
   border-bottom:2px solid #003e5c;
}
th{
   border-bottom:2px solid #eeeeee;
   font-size:1em;
}
tr{
   border-bottom:1px solid #eeeeee;
}
kbd{
   font:inherit;
   background:none;
   padding:0;
   margin:0;
}

h1 {
    font-size: 3.6rem;
    margin: 0 0 0 0;
    padding: 0;
}
h2{
   font-size:1.5em;
}
h3{
   font-size:1.2em;
}
h4 {
    font-size: 1em;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 1em;
}
div.logo-box {
    display: flex;
    width: 100%;
    margin-top: 2em;
}
.inline-logo {
    flex-grow: 1;
}
.line-block {
    margin-bottom: 1em;
}
